*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none
}

body{
    background: white;
}

.logo{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.inicio{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.i1, .i2 {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 50%;
    height: 500px;
}
  
.i1 {
    background-image: url('img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
  
.i2 {
    background-image: url('img/2.jpg');
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
}

.i2 h1{
    padding-top: 95px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 95px;
}

.no-ver{
    display: none;
}
/*--------------------------------------------------------*/

section{
    padding: 0 19%;
}


.inicio-text a{
    display: inline-block;
    color: white;
    background: #4d368d;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.inicio-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.inicio-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.inicio-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}



/*------------------------------------------------------*/
 
#indice{
    margin-bottom: 50px;
    width: 100%;
}

#indice h1{
    margin-top: 50px;
    text-align: center;
    color: #000000;
}
.indice-text a{
    text-align: justify;
    font-size: 25px;
    color: #cc844c;
}
.indice-text a:hover{
    color: rgb(141, 45, 7);
} 


/*------------------------------------------------------*/
.informacion ul li{
    list-style-type: disc;
}

.informacion ul,ol{
    padding: 0px 4%;
    padding-right: 0px;
}

.informacion ol li{
    list-style-type: upper-alpha;
    font-weight: bold;
}

.informacion{
    margin-bottom: 25px;
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    justify-content: space-between;
    border-radius: 15px;
}

.informacion h1{
    color: rgb(179, 72, 27);
}

body p{
    font-weight:normal;
    color: black;
    font-size: 19px;
    text-align: justify;
}

.logo{
    margin: 10px;
}
