*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none
}
body{
    background: white;
}

header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: index 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.navlist{
    display: flex;
    margin-top: 30px;
}

.navlist a{
    color: rgb(11, 102, 49);
    margin-left: 60px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}
/*--------------------------------------------------------*/
.inicio{
    margin: left 10px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #0b8232;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(264, 90%, 57%, 0.711), hsla(162, 77%, 33%, 0.905)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(264, 90%, 57%, 0.711),hsla(162, 77%, 33%, 0.905)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.inicio-text h1{
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.inicio-img img{
    width: 700px;
    height: auto;
}

.inicio-text a{
    display: inline-block;
    color: white;
    background: #4d368d;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.inicio-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.inicio-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.inicio-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}



/*------------------------------------------------------*/

#indice{
    margin-bottom: 50px;
}

#indice h1{
    margin-top: 50px;
    text-align: center;
    color: #0b8232;
}
.indice-text a{
    text-align: justify;
    font-size: 20px;
    color: #4ccc77;
}
.indice-text a:hover{
    color: rgb(67, 54, 104);
}


/*------------------------------------------------------*/
.informacion div{
    margin-bottom: 25px;
}
.informacion ul li{
    list-style-type: disc;
}

.informacion ul,ol{
    padding: 0px 4%;
    padding-right: 0px;
}

.informacion ol li{
    list-style-type: upper-alpha;
    font-weight: bold;
}

.informacion{
    justify-content: space-between;
    padding: 33px 5%;
    background-color: rgb(194, 168, 254);
    border-radius: 15px;
}

body p{
    font-weight:normal;
    color: black;
    font-size: 19px;
    text-align: justify;
}

/*------------------------------------------------------*/

@media (max-width: 1535px){
    header{
        padding: 0 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .inicio-img img{
        width: 100%;
        height: auto;
    }
    .inicio-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .inicio-text{
        padding-top: 115px;
    }
    .inicio-img{
        text-align: center;
    }
    .inicio-img img{
        width: 560px;
        height: 100;
    }
    .inicio{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 990px){
    .navlist{
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
}

@media (max-width: 680px){
    .inicio-img img{
        width: 100%;
        height: auto;
    }

}


